<h1>TypeRacers</h1>
<% if current_user.present?  && current_user.has_roles?(:admin)  %>
  <h1>You are admin</h1>
<% end %>

<% if current_user.present?  && current_user.has_roles?(:user)  %>
  
<%= link_to 'Type Race', type_races_create_or_join_path, method: :post %>
<% end %>


<%if current_user.present? == false %>
  <%= link_to 'Type Race', type_races_create_or_join_path, method: :post %>
<% end %>

